<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * Q* * * * * * * * * * * * * * * * * -->


<main class="main">
  <div class="content">
    <div class="left-side">
      <img src="./assets/tabit_logo.svg" alt="logo" />
      <h1>Hello, {{ title }}</h1>
      <p>Shell APP is running. 🎉</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
        @for (item of [
          { title: 'Home', link: '/' },
          { title: 'Welcome', link: '/welcome' },
          { title: 'Create product', link: '/create' },
          { title: 'List of products', link: '/products' },
          { title: 'App (whole app)', link: '/app' },
          { title: 'Login', link: '/login' },
          { title: 'Login Inside', link: '/loginInside' },
          { title: 'CLI Docs', link: 'https://angular.dev/tools/cli' },
        ]; track item.title) {
          <a
            class="pill"
            [routerLink]="item.link"
          >
            <span>{{ item.title }}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="14"
              viewBox="0 -960 960 960"
              width="14"
              fill="currentColor"
            >
              <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
              />
            </svg>
          </a>
        }
      </div>
    </div>
  </div>
</main>

<hr/>
<router-outlet />
